* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0d0d0d;
  color: white;
  line-height: 1.6;
}

header {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(8px);
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  transition: 0.3s;
}

nav a:hover {
  color: #00bfff;
}

section {
  padding: 120px 20px;
  text-align: center;
  scroll-margin-top: 30px;
}

h1, h2 {
  margin-bottom: 20px;
}

#about, #services, #portfolio, #contact {
  min-height: 80vh;
}

button {
  padding: 12px 25px;
  background: #00bfff;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #008ecc;
}
.hero {
  position: relative;
  height: 70vh; /* αντί για 100vh */
  min-height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); /* σκοτεινό overlay */
  z-index: 2;
}

.hero-content {
  position: relative;
  z-index: 3;
  text-align: center;
  padding: 20px;
}

.hero-content h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 1.1rem;
}

#portfolio {
  background: #111;
  padding: 100px 20px;
}


/* CATEGORIES */

.categories{
display:flex;
gap:20px;
margin-bottom:-150px;
}

.category{
position:relative;
flex:1;
overflow:hidden;
cursor:pointer;
}

.category img{
width:100%;
height:300px;
object-fit:cover;
transition:transform 0.6s ease;
position:relative;
z-index:1;
}

.category:hover img{
transform:scale(1.08);
}

/* Gradient */

.overlay{
position:absolute;
bottom:0;
left:0;
width:100%;
padding:40px 20px 20px 20px;

background:linear-gradient(to top,
rgba(0,0,0,0.9),
rgba(0,0,0,0.5),
transparent);

color:white;
z-index:2;

}

.overlay h2{
margin:0;
font-size:26px;
letter-spacing:1px;
}

/* GALLERY */

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:15px;
}

.photo{
width:100%;
height:300px;
object-fit:cover;
display:none;
cursor:pointer;
transition:transform 0.4s ease;
}

.photo:hover{
transform:scale(1.05);
}

/* Responsive */

@media(max-width:900px){

.gallery{
grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:600px){

.categories{
flex-direction:column;
}

.gallery{
grid-template-columns:1fr;
}

}




#lightbox{
display:none;
position:fixed;
z-index:9999;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.9);
justify-content:center;
align-items:center;
}


#lightbox img{
  max-width:90%;
  max-height:90%;
}

#lightbox .close{
  position:absolute;
  top:30px;
  right:40px;
  font-size:40px;
  color:white;
  cursor:pointer;
}

#lightbox .prev,
#lightbox .next{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  font-size:50px;
  color:white;
  cursor:pointer;
  padding:20px;
}

.prev{
  left:30px;
}

.next{
  right:30px;
}







.filters {
  text-align: center;
  margin-bottom: 30px;
}

.filters button {
  margin: 5px;
  padding: 10px 20px;
  background: #00bfff;
  border: none;
  color: white;
  cursor: pointer;
}
.footer {
  background: #111;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #ccc;
  margin: 0 10px;
  text-decoration: none;
}

.footer-links a:hover {
  color: white;
}
#contact {
  padding: 80px 20px;
  text-align: center;
}

form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 12px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #333;
}






